body{ background:Navy;font-family:"Comic Sans MS";}
h1{text-align:center; font-weight:bold; color: White;}
table{text-align:center; align:center; font-weight:bold; color: #0066ff; background:white; border:1px black}
hr{color:white}